In [ ]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (5.0.2)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2021.5.30)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.62.2)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)

In [ ]:
from google.colab import files

##click on account in kaggle and click on API and upload that json

In [ ]:
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"nabeelfaisal","key":"3d242724e9701f7439f27d45129c20b2"}'}

In [ ]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/

!chmod 600 ~/.kaggle/kaggle.json

In [ ]:
!kaggle datasets download -d tmdb/tmdb-movie-metadata

Downloading tmdb-movie-metadata.zip to /content
 56% 5.00M/8.89M [00:00<00:00, 21.3MB/s]
100% 8.89M/8.89M [00:00<00:00, 29.5MB/s]

In [ ]:
ls

kaggle.json  sample_data/  tmdb-movie-metadata.zip

In [ ]:
!unzip tmdb-movie-metadata.zip

Archive:  tmdb-movie-metadata.zip
  inflating: tmdb_5000_credits.csv
  inflating: tmdb_5000_movies.csv

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
df1=pd.read_csv("tmdb_5000_credits.csv")

In [ ]:
df2=pd.read_csv("tmdb_5000_movies.csv")

In [ ]:
df1.head()

   movie_id  ...                                               crew
0     19995  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1       285  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2    206647  ...  [{"credit_id": "54805967c3a36829b5002c41", "de...
3     49026  ...  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4     49529  ...  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...

[5 rows x 4 columns]

In [ ]:
df2.head()

      budget  ... vote_count
0  237000000  ...      11800
1  300000000  ...       4500
2  245000000  ...       4466
3  250000000  ...       9106
4  260000000  ...       2124

[5 rows x 20 columns]

In [ ]:
df1.columns = ['id','tittle','cast','crew']
df2= df2.merge(df1,on='id')

df2.head(5)

      budget  ...                                               crew
0  237000000  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1  300000000  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2  245000000  ...  [{"credit_id": "54805967c3a36829b5002c41", "de...
3  250000000  ...  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4  260000000  ...  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...

[5 rows x 23 columns]

# Average weighting for demographic filtering(based on popularity)

((v/(v+m))*R)+((m/(v+m))*c)------------v=no. of votes, m=min votes required to listed in chart, R-avg rating of movie, c=mean votes across whole report

## we have v(vote count) and R(vote avg) so we can calculte c(mean of votes)

In [ ]:
c=df2['vote_average'].mean()

In [ ]:
print(c)

6.092171559442011

#mean rating of all the movies is 6 out of 10. Now we will find out the value of m

# m= min votes required is more than 90 from movies in terms of voting

In [ ]:
m=df2['vote_count'].quantile(0.9)

In [ ]:
print(m)

1838.4000000000015

## Now create new dataframe of movies which having the vote count more than 90 quantile

In [ ]:
quantile_movies=df2.copy().loc[df2['vote_count']>=m]

In [ ]:
print(quantile_movies)

         budget  ...                                               crew
0     237000000  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1     300000000  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2     245000000  ...  [{"credit_id": "54805967c3a36829b5002c41", "de...
3     250000000  ...  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4     260000000  ...  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...
...         ...  ...                                                ...
4291    1200000  ...  [{"credit_id": "52fe4223c3a36847f8006c57", "de...
4300    1200000  ...  [{"credit_id": "52fe424ac3a36847f8012cb9", "de...
4302    1200000  ...  [{"credit_id": "575aee00c3a3682d10000281", "de...
4337    1300000  ...  [{"credit_id": "52fe4218c3a36847f8003803", "de...
4602     350000  ...  [{"credit_id": "52fe423dc3a36847f800ec55", "de...

[481 rows x 23 columns]

In [ ]:
quantile_movies.shape

(481, 23)

In [ ]:
quantile_movies.head(3)

      budget  ...                                               crew
0  237000000  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1  300000000  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2  245000000  ...  [{"credit_id": "54805967c3a36829b5002c41", "de...

[3 rows x 23 columns]

In [ ]:
def weight_rating(x,m=m,c=c):
  v=x['vote_count']
  R=x['vote_average']
  return (v/(v+m)*R)+(m/(m+v)*c)

In [ ]:
quantile_movies['score']=quantile_movies.apply(weight_rating,axis=1)

In [ ]:
quantile_movies.head(1)

      budget  ...     score
0  237000000  ...  7.050669

[1 rows x 24 columns]

#Now, sort the movies according to weighted_rating and display top 10 movies

In [ ]:
quantile_movies=quantile_movies.sort_values('score',ascending=False)

In [ ]:
quantile_movies[['title','vote_count','vote_average','score']].head(10)

                                              title  ...     score
1881                       The Shawshank Redemption  ...  8.059258
662                                      Fight Club  ...  7.939256
65                                  The Dark Knight  ...  7.920020
3232                                   Pulp Fiction  ...  7.904645
96                                        Inception  ...  7.863239
3337                                  The Godfather  ...  7.851236
95                                     Interstellar  ...  7.809479
809                                    Forrest Gump  ...  7.803188
329   The Lord of the Rings: The Return of the King  ...  7.727243
1990                        The Empire Strikes Back  ...  7.697884

[10 rows x 4 columns]

In [ ]:
import plotly.express as px

In [ ]:
fig=px.bar((quantile_movies.head(10).sort_values('score',ascending=True)),x='score',y='title',orientation='h')

In [ ]:
fig.show()

#According to demographic filtering we can recommend above 10 movies.

#Content based filtering

In [ ]:
df2[['title','crew','keywords','cast','genres']].head(3)

                                      title  ...                                             genres
0                                    Avatar  ...  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
1  Pirates of the Caribbean: At World's End  ...  [{"id": 12, "name": "Adventure"}, {"id": 14, "...
2                                   Spectre  ...  [{"id": 28, "name": "Action"}, {"id": 12, "nam...

[3 rows x 5 columns]

In [ ]:
df2[['title','crew','keywords','cast','genres']].tail(3)

                          title  ...                                             genres
4800  Signed, Sealed, Delivered  ...  [{"id": 35, "name": "Comedy"}, {"id": 18, "nam...
4801           Shanghai Calling  ...                                                 []
4802          My Date with Drew  ...                [{"id": 99, "name": "Documentary"}]

[3 rows x 5 columns]

## most of data is in list of dict format but some data is in string format. so will check what datatype meant to be for the given data

In [ ]:
from ast import literal_eval

In [ ]:
features=df2[['cast','keywords','crew','genres']]

In [ ]:
for feature in features:
  df2[feature]=df2[feature].apply(literal_eval)

In [ ]:
df2.dtypes

budget                    int64
genres                   object
homepage                 object
id                        int64
keywords                 object
original_language        object
original_title           object
overview                 object
popularity              float64
production_companies     object
production_countries     object
release_date             object
revenue                   int64
runtime                 float64
spoken_languages         object
status                   object
tagline                  object
title                    object
vote_average            float64
vote_count                int64
tittle                   object
cast                     object
crew                     object
dtype: object

In [ ]:
df2[['title','crew','keywords','cast','genres']].tail(3)

                          title  ...                                             genres
4800  Signed, Sealed, Delivered  ...  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4801           Shanghai Calling  ...                                                 []
4802          My Date with Drew  ...                [{'id': 99, 'name': 'Documentary'}]

[3 rows x 5 columns]

##find director from movie and add seperate column in dataframe

In [ ]:
def get_director(x):
  for i in x:
    if i['job']=='Director':
      return i['name']
  return np.nan

In [ ]:
df2['director']=df2['crew'].apply(get_director)

In [ ]:
df2.head(2)

      budget  ...        director
0  237000000  ...   James Cameron
1  300000000  ...  Gore Verbinski

[2 rows x 24 columns]

## Now convert cast, crew and keywords data into normal list as it is in list of dict format

In [ ]:
def get_list(x):
  if isinstance(x,list):
    names=[i['name'] for i in x]
    return names
  return []

In [ ]:
features=['cast','crew','keywords']
for feature in features:
  df2[feature]=df2[feature].apply(get_list)

In [ ]:
df2[['title','director','cast','crew','keywords']].head(3)

                                      title  ...                                           keywords
0                                    Avatar  ...  [culture clash, future, space war, space colon...
1  Pirates of the Caribbean: At World's End  ...  [ocean, drug abuse, exotic island, east india ...
2                                   Spectre  ...  [spy, based on novel, secret agent, sequel, mi...

[3 rows x 5 columns]

##convert value into lowercase

In [ ]:
def clean_data(x):
    if isinstance(x, list):
        return [str(i).replace(" ", "").lower() for i in x]
    else:
        if isinstance(x, str):
            return str.lower(x.replace(" ", ""))
        else:
            return ''

features = ['cast', 'keywords', 'director', 'genres']
for feature in features:
    df2[feature] = df2[feature].apply(clean_data)

In [ ]:
df2['director']

0           jamescameron
1          goreverbinski
2              sammendes
3       christophernolan
4          andrewstanton
              ...
4798     robertrodriguez
4799         edwardburns
4800          scottsmith
4801          danielhsia
4802     brianherzlinger
Name: director, Length: 4803, dtype: object

In [ ]:
df2['cast']

0       [samworthington, zoesaldana, sigourneyweaver, ...
1       [johnnydepp, orlandobloom, keiraknightley, ste...
2       [danielcraig, christophwaltz, léaseydoux, ralp...
3       [christianbale, michaelcaine, garyoldman, anne...
4       [taylorkitsch, lynncollins, samanthamorton, wi...
                              ...
4798    [carlosgallardo, jaimedehoyos, petermarquardt,...
4799    [edwardburns, kerrybishé, marshadietlein, cait...
4800    [ericmabius, kristinbooth, crystallowe, geoffg...
4801    [danielhenney, elizacoupe, billpaxton, alanruc...
4802    [drewbarrymore, brianherzlinger, coreyfeldman,...
Name: cast, Length: 4803, dtype: object

In [ ]:
df2['genres']

0       [{'id':28,'name':'action'}, {'id':12,'name':'a...
1       [{'id':12,'name':'adventure'}, {'id':14,'name'...
2       [{'id':28,'name':'action'}, {'id':12,'name':'a...
3       [{'id':28,'name':'action'}, {'id':80,'name':'c...
4       [{'id':28,'name':'action'}, {'id':12,'name':'a...
                              ...
4798    [{'id':28,'name':'action'}, {'id':80,'name':'c...
4799    [{'id':35,'name':'comedy'}, {'id':10749,'name'...
4800    [{'id':35,'name':'comedy'}, {'id':18,'name':'d...
4801                                                   []
4802                     [{'id':99,'name':'documentary'}]
Name: genres, Length: 4803, dtype: object

##generate metadata of movie

In [ ]:
def create_soup(x):
  return ' '.join(x['keywords'])+' '+' '.join(x['cast'])+' '+' '.join(x['director'])+' '+' '.join(x['genres'])

In [ ]:
df2['soup']=df2.apply(create_soup,axis=1)

In [ ]:
df2['soup']

0       cultureclash future spacewar spacecolony socie...
1       ocean drugabuse exoticisland eastindiatradingc...
2       spy basedonnovel secretagent sequel mi6 britis...
3       dccomics crimefighter terrorist secretidentity...
4       basedonnovel mars medallion spacetravel prince...
                              ...
4798    unitedstates–mexicobarrier legs arms paperknif...
4799     edwardburns kerrybishé marshadietlein caitlin...
4800    date loveatfirstsight narration investigation ...
4801     danielhenney elizacoupe billpaxton alanruck z...
4802    obsession camcorder crush dreamgirl drewbarrym...
Name: soup, Length: 4803, dtype: object

##remove stopwords and count the number of times word repeated so that we can find similarity between movies

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
count=CountVectorizer(stop_words='english')
count_matrix=count.fit_transform(df2['soup'])

In [ ]:
count_matrix

<4803x65121 sparse matrix of type '<class 'numpy.int64'>'
	with 176687 stored elements in Compressed Sparse Row format>

##create classifier based on similarity

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity
cosine_sim2=cosine_similarity(count_matrix,count_matrix)

##change the index of the data to movie name

In [ ]:
df2=df2.reset_index()
indices=pd.Series(df2.index,index=df2['title'])

In [ ]:
df2.head(3)

   index  ...                                               soup
0      0  ...  cultureclash future spacewar spacecolony socie...
1      1  ...  ocean drugabuse exoticisland eastindiatradingc...
2      2  ...  spy basedonnovel secretagent sequel mi6 britis...

[3 rows x 26 columns]

In [ ]:
def get_recommendations(title,cosine_sim2):
  idx=indices[title]
  sim_scores=list(enumerate(cosine_sim2[idx]))
  sim_scores=sorted(sim_scores,key=lambda x:x[1],reverse=True)
  sim_scores=sim_scores[1:11]
  movie_indices=[i[0] for i in sim_scores]
  return df2['title'].iloc[movie_indices]

##Test it

In [ ]:
get_recommendations('Fight Club',cosine_sim2)

4564    Straight Out of Brooklyn
4247       Me You and Five Bucks
4638    Amidst the Devil's Wings
4462          The Young Unknowns
4574                    Roadside
2723     The Caveman's Valentine
45                   World War Z
3043            End of the Spear
4589                      Fabled
4426                 A Fine Step
Name: title, dtype: object

In [ ]:
get_recommendations('The Godfather',cosine_sim2)

2731      The Godfather: Part II
867      The Godfather: Part III
4638    Amidst the Devil's Wings
4564    Straight Out of Brooklyn
4370                Brigham City
2507                   Slow Burn
3293                 10th & Wolf
4205                    N-Secure
4488                  Adulterers
4780                 Dutch Kills
Name: title, dtype: object

#download movies in csv format

In [ ]:
from google.colab import files

In [ ]:
df2.to_csv('movies.csv')

In [ ]:
files.download('movies.csv')

In [ ]:
df2.columns

Index(['index', 'budget', 'genres', 'homepage', 'id', 'keywords',
       'original_language', 'original_title', 'overview', 'popularity',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title',
       'vote_average', 'vote_count', 'tittle', 'cast', 'crew', 'director',
       'soup'],
      dtype='object')